<mat-toolbar class="header-wrap">
  <button  (click)="onToggleSidenav()"mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="title-img" src="/assets/title.jpg" alt="">
  <!-- <app-search></app-search> -->
  <span class="example-spacer"></span>
  <!-- <app-deleted-character></app-deleted-character>
  <app-add-character></app-add-character>
  <app-user></app-user> -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


