.form{
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.form>*{
  direction: rtl;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.container{
  width: 50%;
}

